.carttlistcontent{
    align-self: auto;
    margin-left: 450px;
    padding-top: 50px;
    float: left;
    width: 100%;

    table{
        width: 40%;
        border: 5px solid $primary-color;
        border-radius: 5px;
        
    }
}