.cartviewcontent{
    padding-top: 40px;
    margin: 10px 10px;
   
}

.btn3{
    
        
        
        background-color: black;
        color: #ee8b67;
        border-radius: 10px;
        height: 4vh;
        width: 10vh;
      
}